/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
}

.learning-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header Styles */


/* .logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}
 */



/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 0 0 0 0;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #dcdeed;
  margin-bottom: 30px;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-style: italic;
  color: #0a0a4b;
  margin-bottom: 15px;
}



.form-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(94, 25, 164, 0.1);
  padding-top: 200px;

}

.form-title {
  text-align: center;
  color: #0a0a4b;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-row input {
  width: 48%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form1-row input{
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.form2-row input{
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.dropdown-container {
  margin-bottom: 15px;
}

.dropdown-button {
  width: 100%;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  color: #7f7f86;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-arrow {
  font-size: 0.8rem;
  transition: transform 0.3s;
  color: #7f7f86;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-content {
  border: 0px solid #ddd;
  border-top: none;
  border-radius: 0 0 3px 1px;
  padding: 3px;
  background-color: #0a0a4b;
}

.dropdown-content textarea {
  width: 100%;
  padding: 15px;
  height: 10px;
  margin-bottom:5px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  resize: vertical;
  min-height: 10px;
  font-size: 0.7rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
  margin-right: 10px;
}

.submit-button {
  background-color: #000052;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #00003b;
}

.submit-button {
  background-color: #000052;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #00003b;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.edit-button {
  background-color: #00003b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #00003b;;
}